<div class="container">
    <form action="">
        <div class="form-group">
            <label for="">Sample Dropdown</label>
            <entersoft-select
                es-options='vm.dropdowns.technologies'
                name="technologies"
                ng-model="vm.formModel.technologies"
                required
                es-select-mode="suggest"
            ></entersoft-select>
        </div>

        <div class="form-group">
            <label for="">Sample Dropdown</label>
            <entersoft-select
                es-options='vm.dropdowns.technologies'
                name="technologies"
                ng-model="vm.formModel.technologies"
                required
            ></entersoft-select>
        </div>
    </form>
</div>